#div1{
    border: 1px solid lightblue;
}

h2{
    margin-left: 4px;
}

label{
    display: inline-block;
    margin-left: 4%;
    width: 8%;
}

input.watermark{ 
    color: #999; 
}

input{
    padding:4px;
    text-indent: 5px;
    width:200px;
    font-size:14px;
}